/* 滚动条 -------------------------------------------开始 */
::-webkit-scrollbar {
  width: 11px !important;
  height: 12px !important;
}
aside.sidebar::-webkit-scrollbar {
  width: 8px !important;
  height: 12px !important;
}

::-webkit-scrollbar-track {
  background-color: rgb(136, 98, 225, 0.5) !important;
  border-radius: 2em !important;
}

::-webkit-scrollbar-thumb {
  background-color: #81d8cf !important;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  ) !important;
  border-radius: 2em !important;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #81d8cf !important;
}
/* 滚动条 -------------------------------------- 结束 */

/* 全局 */
* {
  font-family: "PingFang SC" !important;
  letter-spacing: 1px !important;
}
body {
  background-color: #f3fcfb;
}

/* 封面标题 */
.cover-main h1,
.cover-main h2 {
  border-bottom: none;
  margin: 20px auto !important;
}
.cover-main h1 a,
.cover-main h2 a {
  font-weight: bold;
}

/* 标题 */
.markdown-section h1 span,
.markdown-section h2 span,
.markdown-section h3 span,
.markdown-section h4 span,
.markdown-section h5 span,
.markdown-section h6 span {
  font-weight: bold !important;
}
.markdown-section h1 span {
  font-size: 38px;
}
.markdown-section h2 span {
  font-size: 34px;
}
.markdown-section h3 span {
  font-size: 30px;
}
.markdown-section h4 span {
  font-size: 26px;
}
.markdown-section h5 span {
  font-size: 22px;
}
.markdown-section h6 span {
  font-size: 22px;
  color: #666;
}
h1,
h2 {
  border-bottom: solid 2px #ddd;
}
h4 {
  margin-bottom: 23px;
}
h6 {
  margin-bottom: 26px;
}
h1 a::after {
  text-decoration: none;
}

/* 文章 */
.markdown-section p,
.markdown-section ol li,
.markdown-section ul li,
table {
  font-size: 17px !important;
}
.markdown-section figure,
.markdown-section p {
  margin: 10px 0;
}

/* 图片 */
img.medium-zoom-image {
  border-radius: 10px;
}

/* 引用块 */
.markdown-section blockquote {
  background-color: #ddf4f2;
  margin: 20px 0 !important;
  padding: 0 10px;
}
.markdown-section blockquote p {
  font-weight: normal;
  padding: 10px 0;
}

/* 加粗 - 按照当前字体颜色 */
strong {
  color: unset !important;
}

/* 下划线 */
u {
  font-weight: normal;
  background-color: #fdbba6;
  border-radius: 6px;
  text-decoration: none;
}

/* 左侧栏 */
.sidebar ul li a {
  font-size: 16px;
}
.sidebar-nav ul li {
  font-weight: bold;
  font-size: 18px;
}
.sidebar ul li.active > a {
  border: none;
}
aside.sidebar {
  background-color: #f8f8f8 !important;
}
/* 左侧栏切换 */
.sidebar-toggle {
  background-color: rgba(255, 255, 255, 0);
}

/* 链接 */
.markdown-section a {
  text-decoration: none;
  font-weight: normal;
}
.sidebar ul li a:hover {
  color: #81d8cf;
  text-decoration: none;
}

/* 表格 */
.markdown-section td,
.markdown-section th {
  text-align: left;
}
.markdown-section thead tr {
  background-color: #b3e7e2;
}

/* 搜索 */
.search {
  margin: 48px auto 9px !important;
}

/* Logo */
h1.app-name {
  border-bottom: 1px solid #ddd;
}

/* 右上角导航栏 */
.app-nav.no-badge {
  width: 100%;
  margin: 0;
  position: fixed;
  text-align: center;
  backdrop-filter: saturate(160%) blur(10px);
  z-index: 10;
  background-color: rgb(129, 216, 207, 0.2);
}
.app-nav ul li a {
  font-size: 18px;
  font-weight: bold;
}
.app-nav ul li {
  height: 40px;
  margin-top: 8px;
}
.app-nav ul {
  padding-left: 0;
}

/* 代码块 */
pre {
  padding: 0 !important;
}
.markdown-section pre > code {
  color: #525252;
  padding: 10px 15px;
  line-height: inherit;
  margin: 0;
  max-width: inherit;
  overflow: inherit;
  white-space: inherit;
}
/* 代码框 */
.markdown-section code {
  border-radius: 6px;
  background-color: #eee;
  padding: 0 2px;
  margin: auto 3px;
  box-shadow: 0 1px 3px 0px rgba(10, 10, 10, 0.3);
}

/* 鼠标图标 -----------------------------------------------------------------------开始 */
body {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor.png),
    default !important;
}

/*i标签，a标签，按钮，头部的导航栏，网址卡片，底栏链接*/
i:hover,
a:hover,
button:hover,
#nav .site-page:hover,
.xe-widget.xe-conversations.box2.label-info {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor_puppy.png),
    pointer !important;
}

/*页脚a标签，分页器，搜索框*/
#footer-wrap a:hover,
#pagination .page-number:hover,
input#txt {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor_stitch.png),
    pointer !important;
}
/* 鼠标图标 -----------------------------------------------------------------------结束 */

/* 移动端 -------------------------------------- 开始 */
/* 左右边距 */
@media screen and (max-width: 960px) {
  .markdown-section {
    max-width: 100%;
  }
  .markdown-section h1 span {
    font-size: 34px;
  }
  .markdown-section h2 span {
    font-size: 30px;
  }
  .markdown-section h3 span {
    font-size: 26px;
  }
  .markdown-section h4 span {
    font-size: 22px;
  }
  .markdown-section h5 span {
    font-size: 18px;
  }
  .markdown-section h6 span {
    font-size: 18px;
  }
  /* 文章 */
  .markdown-section p,
  .markdown-section ol li,
  .markdown-section ul li,
  table {
    font-size: 15px !important;
  }
  /* p行间距 */
  .markdown-section p {
    margin: 5px auto;
  }
  /* 隐藏导航栏 */
  .app-nav.no-badge {
    visibility: hidden;
  }
  /* 搜索 */
  .search {
    margin: 0 auto 9px !important;
  }
}
/* 移动端 -------------------------------------- 结束 */
